<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head'); -%> 
    <title>Панель администратора - Управление задачами</title>
    <style>
        .password-value {
            font-size: 16px; 
        }
    </style>
</head>

<%- include('../layouts/ru/navbar'); -%> 

<body>
    <div class="container">
        <header class="text-center text-light my-4">
            <h1 class="mb-4">Панель администратора - Управление задачами</h1>
        </header>
        <% if (user && user.is_admin) { %>
            <!-- Render list of users dynamically -->
            <ul class="list-group users mx-auto text-light">
                <% users.forEach(user => { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <div> 
                                <span><strong>ID пользователя:</strong> <%= user._id %></span> <!-- Display User ID -->
                            </div>
                            <div> 
                                <span><strong>Имя пользователя:</strong> <%= user.username %></span>
                            </div>
                            <div> 
                                <span><strong>Эл.почта:</strong> <%= user.email %></span>
                            </div>
                            <div>
                                <span><strong>Пароль:</strong> <span class="password-value"><%= user.password %></span></span>
                            </div>
                            <div> 
                                <span><strong>Администратор:</strong> <%= user.is_admin ? 'Да' : 'Нет' %></span>
                            </div>
                        </div>
                        <div>
                            <div> 
                                <span><strong>Дата создания:</strong> <%= trimDeadline(user.created_at) %></span>
                            </div>
                            <div> 
                                <span><strong>Дата обновления:</strong> <%= trimDeadline(user.updated_at) %></span>
                            </div>
                            <div> 
                                <a href="/admin/editUser/<%= user._id %>" class="btn btn-primary">Редактировать</a> <!-- Edit Button -->
                            </div>
                        </div>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <!-- Show message if user is not logged in as admin -->
            <div class="text-center">
                <h4>У вас нет разрешения на доступ к этой странице.</h4>
            </div>
        <% } %>
    </div>

    <!-- JavaScript code -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/js/lang.js"></script>
</body>
</html>
