<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../layouts/head'); -%> 
    <title>Статьи о управлении временем</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom CSS */
        .article-item img {
            border-radius: 10px; /* Закругленные края для изображений */
        }
        .article-link {
            color: #007bff; /* Светло-синий цвет для текста ссылки */
        }
        .article-content {
            color: white; /* Белый цвет для содержания статьи */
        }
        .article-link:hover {
            color: yellow; /* Желтый цвет для текста ссылки при наведении */
        }
    </style>
</head>
<body>
    <%- include('../layouts/ru/navbar'); -%> 

    <div class="container">
        <header class="text-center text-light my-4">
            <h1 class="mb-4">Статьи о <%= keyword %> за последний месяц</h1>
        </header>
        
        <form action="/articles" method="get">
            <div class="form-group">
                <label for="keyword">Ключевое слово:</label>
                <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Введите ключевое слово для поиска новостей">
            </div>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>
        
        <div class="latest-articles mt-4">
            <ul class="article-list row">
                <% if(articles) { %>
                    <% articles.forEach(article => { %>
                        <div class="col-md-6 mb-4">
                            <div class="article-item">
                                <% if(article.urlToImage) { %>
                                    <img src="<%= article.urlToImage %>" alt="Изображение статьи" class="img-fluid">
                                <% } %>
                                <div class="article-content">
                                    <h2><a href="<%= article.url %>" target="_blank" class="article-link">
                                        <%= article.title %>
                                    </a></h2>
                                    <p><%= article.description %></p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
            </ul>
        </div>
    </div>
    <script src="/js/lang.js"></script>
    <%- include('../layouts/ru/footer'); -%> 
</body>
</html>
